{
  "idrive": {
    "vst": {
      "username": "upload",
      "bucket": "vst"
    },
    "slt": {
      "username": "upload",
      "bucket": "slt"
    }
  },
  "discord": {
    "vst": {
      "webhook": "put your webhook url here"
    },
    "slt": {
      "webhook": "put your webhook url here"
    }
  },
  "rootserver": {
    "name": "slt-observatory.space",
    "basedir": "/var/www/slt-observatory.space/",
    "gitdir": "/root/devel/slt-observatoryMonitoring/",
    "uploadsdir": "/Users/tgdrimi9/devel/slt-observatoryMonitoring/Test/",
    "sshuser": "sltupload",
    "nodename": "put in result of uname -n"
  },
  "weatherkit": {
    "token": "Get your Token from Apple"
  },
  "powerboxes": {
    "WBProV3-vst": {
      "port": "COM7",
      "speed": "19200",
      "identifier": "ZXWBProV3",
      "init": [
        101,
        201,
        211,
        111,
        121,
        131,
        141,
        151,
        5192,
        6192,
        7192
      ],
      "shutdown": [
        100,
        200,
        210,
        110,
        120,
        130,
        140,
        150,
        5000,
        6000,
        7000
      ]
    },
    "WBProV3-slt": {
      "port": "COM20",
      "speed": "19200",
      "identifier": "ZXWBProV3",
      "init": [
        101,
        201,
        211,
        111,
        121,
        131,
        141,
        151,
        5000,
        6000,
        7000
      ],
      "shutdown": [
        100,
        200,
        210,
        110,
        120,
        130,
        140,
        150,
        5000,
        6000,
        7000
      ]
    }
  },
  "telescopes": {
    "vst": {
      "fullname": "very small Telescope",
      "location": "Starfront Observatory",
      "imagebasedir": "$HOME/Pictures/",
      "phdlogbasedir": "$HOME/Documents/PHD2/",
      "ninalogbasedir": "$HOME/AppData/Local/NINA/Logs/",
      "aflogsbasedir": "$HOME/AppData/Local/NINA/AutoFocus/",
      "schedulerdb": "$HOME/AppData/Local/NINA/SchedulerPlugin/schedulerdb.sqlite",
      "roofstatusdir": "//74.84.11.58/sfro-customer/roof/building-5/",
      "weatherstatusdir": "//74.84.11.58/sfro-customer/weather/",
      "powerbox": "WBProV3-vst",
      "sshkey": "$HOME/.ssh/id_rsa",
      "nodename": "Put your windows computer name here"
    },
    "slt": {
      "fullname": "SLT Telescope",
      "location": "Starfront Observatory",
      "imagebasedir": "$HOME/devel/slt-observatoryMonitoring/Test/",
      "allskybasedir": "$HOME/devel/slt-observatoryMonitoring/Test/AllSky/",
      "phdlogbasedir": "$HOME/devel/slt-observatoryMonitoring/Test/PHD2/",
      "ninalogbasedir": "$HOME/devel/slt-observatoryMonitoring/Test/Nina/",
      "aflogsbasedir": "$HOME/devel/slt-observatoryMonitoring/Test/AutoFocus/",
      "schedulerdb": "$HOME/devel/slt-observatoryMonitoring/schedulerdb.sqlite",
      "statusfiles": "$HOME/devel/slt-observatoryMonitoring/",
      "sshkey": "$HOME/.ssh/id_rsa",
      "nodename": "Put your windows computer name here"
    }
  },
  "locations": {
    "Starfront Observatory": {
      "latitude": "31.547485160577963",
      "longitude": "-99.38248464510205",
      "country": "US",
      "timezone": "US/Central",
      "language": "en",
      "elevation": 850,
      "locationcode": "starfront"
    }
  },
  "logging": {
    "version": 1,
    "disable_existing_loggers": false,
    "formatters": {
      "simple": {
        "format": "%(asctime)s [%(levelname)s] [%(filename)s:%(lineno)d] %(message)s"
      }
    },
    "handlers": {
      "info_file_handler": {
        "class": "logging.FileHandler",
        "level": "INFO",
        "formatter": "simple",
        "filename": "info.log",
        "encoding": "utf8"
      }
    },
    "loggers": {
      "root": {
        "level": "INFO",
        "handlers": [
          "info_file_handler"
        ]
      }
    }
  }
}
